<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>sleep</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div id="face">
    <div id="eye1" class="eye">
      <div id="ie1" class='inner_eye'>
      </div>
    </div>
    <div id="eye2" class="eye">
      <div id="ie1" class='inner_eye'>
      </div>
    </div>
    <div id="mouse">
      <dv class="inner_square is1" ></dv>
      <dv class="inner_square is2" ></dv>
    </div>
  </div>

  <div id="tmp1"></div>
</body>
</html>
