{% extends "application.html" %}
{% block body %}
<link rel='stylesheet' href='../static/css/event.css'>
<div class="output">
    <ul>
        <li>
            <div>
                <p>先進技術研究部</p>
                <h2>作品展示会</h2>
                <p>PCで制作したゲーム、絵、音楽、研究ポスターなどを展示しています</p>
                <div class="icon">
                    <img src="../static/img/event_profile_icon/group_category_club.svg">
                    <img src="../static/img/event_profile_icon/event_category_display.svg">
                    <img src="../static/img/event_profile_icon/event_category_performance.svg">
                    <img src="../static/img/event_profile_icon/grade_j1.svg">
                    <img src="../static/img/event_profile_icon/grade_j2.svg">
                    <img src="../static/img/event_profile_icon/grade_j3.svg">
                    <img src="../static/img/event_profile_icon/grade_h1.svg">
                    <img src="../static/img/event_profile_icon/grade_h2.svg">
                    <img src="../static/img/event_profile_icon/Twitter_Logo_Blue.svg">
                </div>
                <a href="../timetable/#">
                    <p>1日目 9:00~16:00<br>2日目 9:00~16:00</p>
                </a>
                <a href="../map#main_2F_mcc">
                    <p>本館2階MCC</p>
                </a>
            </div>
        </li>
        <li>
            <div>
                <p>団体名</p>
                <h2>企画名</h2>
                <p>紹介文</p>
                <div class="icon">
                    企画カテゴリ
                    団体カテゴリ
                    学年
                    Twitter
                    Instagram
                </div>
                <a href="../timetable/#">
                    <p>日時</p>
                </a>
                <a href="../map/#">
                    <p>場所</p>
                </a>
            </div>
        </li>
        <li>
            <div>
                <p>団体名</p>
                <h2>企画名</h2>
                <p>紹介文</p>
                <div class="icon">
                    企画カテゴリ
                    団体カテゴリ
                    学年
                </div>
                <a href="../timetable/#">
                    <p>日時</p>
                </a>
                <a href="../map/#">
                    <p>場所</p>
                </a>
            </div>
        </li>
    </ul>
</div>

{% endblock %}