{% extends "application.html" %}
{% block body %}
<link rel='stylesheet' href='../static/css/map.css'>
<main>
    <h1>マップ</h1>
    <div id='map' class="event">
        <div id='Floor_choice' class='detail transparent'>
            <input type='radio' id='f1_box' name='1'>
            <label for='f1_box'>1F</label>
            <input type='radio' id='f2_box' name='1'>
            <label for='f2_box'>2F</label>
            <input type='radio' id='f3_box' name='1'>
            <label for='f3_box'>3F</label>
        </div>
        <div id="map_imgs">
            <div id='notification'>Shift + スクロールで拡大</div>
            <img id="background" src="../static/img/map/background.svg">
            <img id="buildings" src="../static/img/map/buildings.svg">
            <img id="F1" src="../static/img/map/buildings-1F.svg" class='floor detail transparent'>
            <img id="F2" src="../static/img/map/buildings-2F.svg" class='floor detail transparent'>
            <img id="F3" src="../static/img/map/buildings-3F.svg" class='floor detail transparent'>
        </div>
    </div>
</main>
<script src='../static/js/map.js'></script>
{% endblock %}