{% extends "application.html" %}
{% block body %}
<link rel='stylesheet' href='../static/css/top.css'>
<div class=title>
    <h1>NAGATSUKI<br>FESTIVAL</h1>
    <p>2020.9.15/16 8:30~15:30<br>TAKI JUNIOR & SENIOR HIGH SCHOOL</p>
    <p>THEME "FLASH"</p>
</div>
<main>
    <h1>開催概要</h1>
    <h2>日時</h2>
    <p>9/16 17 8:30~15:30</p>
    <h2>場所</h2>
    <p>滝中学校・滝高等学校</p>
    <h2>テーマ</h2>
    <p>FLASH</p>
    <h1>来場案内</h1>
    <h2>アクセス</h2>
    <p>名鉄江南駅から徒歩25分程度</p>
    <p>名鉄一宮駅からバスで25分程度</p>
    <div class="ggmap">
        <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d6509.603821574064!2d136.86031317422174!3d35.335740223463624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e3!4m3!3m2!1d35.3350963!2d136.8720531!4m3!3m2!1d35.3349109!2d136.85765849999999!5e0!3m2!1sja!2sjp!4v1583901070996!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <h2>ご来場の際のご注意</h2>
    <p>中高生は制服着用の上生徒手帳が必要です。保護者は招待券または身分証明が必要です。お忘れなさいませんようご注意ください。</p>
    <h1>挨拶</h1>
    <h2>校長より</h2>
    <p>吾輩わがはいは猫である。名前はまだ無い。どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌てのひらに載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</p>
    <h2>高校生徒会長より</h2>
    <p>吾輩わがはいは猫である。名前はまだ無い。どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌てのひらに載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</p>
    <h2>中学生徒会長より</h2>
    <p>吾輩わがはいは猫である。名前はまだ無い。どこで生れたかとんと見当けんとうがつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪どうあくな種族であったそうだ。この書生というのは時々我々を捕つかまえて煮にて食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌てのひらに載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</p>
    <h1>校内における禁止事項</h1>
    <h2>お煙草について</h2>
    <p>滝学園校内におきましては、全面禁煙としています。皆様のご理解とご協力をお願いします。</p>
    <h2>ご飲食について</h2>
    <p>中学館南側のテントおよび中学館1A,1Bの教室を飲食エリアとしております。ご飲食の際は、飲食エリアをご利用ください。飲食エリア外での飲食はご遠慮いただきますようお願いいたします。皆様のご理解とご協力をお願いします。</p>
    <h2>お酒について</h2>
    <p>滝学園校内に置きましては、飲酒禁止としています。皆様のご理解とご協力をお願いします。</p>
    <h2>立入禁止エリアについて</h2>
    <p>立入禁止エリアがございます。張り紙がございますので、立ち入らないようにお願いいたします。皆様のご理解とご協力をお願いします。</p>
    <h2>ペットの持込について</h2>
    <p>ペットの持込は禁止しております。皆様のご理解とご協力をお願いします。</p>
    <h2>宣伝･勧誘活動について</h2>
    <p>滝学園校内に置きましては、ビラ配りなどの悪質な宣伝･勧誘活動を禁止しています。お気付きの際は、お近くの教員にお知らせください。</p>
    <h2>携帯電話について</h2>
    <p>本校では教育上の観点から、生徒が校内で携帯電話を使用することを禁止しています。昨年度までの文化祭においても、ご来場の皆様におかれましては生徒との連絡や写真撮影に関してご配慮いただきますようお願いしてまいりました。さて、今年度より文化祭に限り生徒の携帯電話の使用を解禁することとなりました。ご来場の皆様におかれましても、生徒との連絡や写真撮影に関してご配慮いただく必要はございません。ご理解賜りますようお願い申し上げます。</p>
    <h1>各種案内</h1>
    <h2>不審物について</h2>
    <p>不審物を発見した際は、お近くの教員にお知らせください。</p>
    <h2>落とし物について</h2>
    <p>落とし物をした際は、受付までお申し出ください。</p>
    <h2>迷子について</h2>
    <p>迷子の際は、受付までお申し出ください。</p>
    <h2>怪我/病気について</h2>
    <p>お怪我をなさいましたら、本館1階の保健室までお越しください。</p>
</main>
{% endblock %}