/*
<section id="space" class="bake red">
  <div class="black-top"></div>
  <h1 class="shake_right">閑 話 休 題</h1>
  <div class="black-bottom"></div>
</section>
*/
.bake{
  font-family: 'MS Mincho','HG明朝E'
}
.red{
  background-image: url('background1.png');
  color: #FED5CA;
}
.white{
  background-image: url('background2.png');
  color: black/*#838896*/;
}
.purple{
  background-image: url('background3.png');
  color: #FED5CA;
}
.black{
  background-color: #382C2C;
  color: #EFE6E7;
}
.shake_right{
  position: absolute;
  animation:shake_right 50ms linear 0s infinite;
}
@keyframes shake_right {
  0%{
    transform: translateX(1.5px);
  }
  100%{
    transform: translateX(-1.5px);
  }
}
.black-top{
  position: absolute;
  top:0;
  width: 100%;
  height:13%;
  background-color: black
}
.black-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 13%;
  background-color: black;
}
