body{
  width:100vw;
  height:100vh;
  margin: 0;
  overflow: hidden;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  position: absolute;
  top:0;
}
#main{
  position: absolute;
  width:100%;
  height: 150vw;
}
img{
  position: absolute;
  top:10vw;
  width:100vw;
}
.box{
  position: absolute;
  width:5vw;
  height:5vw;
  border-radius: 50%;
}
.box2{
  position: absolute;
  width:5vw;
  height:5vw;
  border-radius: 50%;
  background-color: blue;
}
#answer{
  z-index: 50;
  position: absolute;
  font-size: 5vw;
  color: blue;
  transition-duration:300ms;
}
#check{
  position: absolute;
  top: 140vw;
  width: 100%;
  text-align: center;
  margin: 0;
}
