<<<<<<< HEAD
@font-face {
	font-family: 'makinas';
	src: url('Makinas5.otf');
}
html,body{
  position: absolute;
  width: 100vw;
  height:100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  -webkit-perspective: 500;
  -webkit-transform-style: preserve-3d;
	--rd:40vh;
}
div{
  position: absolute;
  transition-duration: 300ms;
  margin: 0;
  padding: 0;
}
#main{
	position: absolute;
	width:100%;
	height:100%;
	transition-duration: 2s;
	transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#title>span{
  font-size:9vw;
  color: #ddd;
  transform:translateY(-20vh);
  opacity: 0;
  transition-duration: 300ms;
  font-family: makinas;
	transition-duration: 1s;
}

.outer_point{/*外枠*/
  width: calc(var(--rd) * 1.2 );
  height: calc(var(--rd) * 1.2 );
  border-radius: 50%;
  border:5px solid #9CBDC5;
}
.outer_point::before{/*回転用バー*/
  content: "";
  position: absolute;
  top:25%;
  left:-5%;
  width: 110%;
  height: 50%;
  background-color: #333;
  transform: rotate(40deg);
  animation:rotate 2s ease-in-out 0s infinite;
}
@keyframes rotate {
  to{
    transform: rotate(400deg);
  }
}


.point{
  top:0;bottom:0;left:0;right:0;margin:auto;
  width: var(--rd);
  height: var(--rd);
  border-radius: 50%;
  background-color: #9CBDC5;
  cursor: pointer;
  z-index: 10;
}

.point::before{/*中の黒枠*/
  /*
  content: "";
  position: absolute;
  top:10%;
  left:10%;
  width:80%;
  height:80%;
  border-radius: 50%;
  border: 5px solid #333;
  transition-duration: 300ms;
  z-index: 10;
  */
}
.point::after{/*波紋*/
  content: "";
  position: absolute;
  width:100%;
  height:100%;
  border-radius: 50%;
  border: 5px solid #9CBDC5;
  animation:scale 2s ease 0s infinite;
  transition-duration: 300ms;
  z-index: 9;
}
@keyframes scale {
  to{
    transform: scale(2);
    opacity: 0;
  }
}

.inner_point{/*外枠の内側のほう*/
  top:calc(var(--rd) * 0.125);
  left:calc(var(--rd) * 0.125);
  width: calc(var(--rd) * 0.75 );
  height: calc(var(--rd) * 0.75 );
  border-radius: 50%;
  border:5px solid #333;
}
.inner_point::before{/*回転用バー*/
  content: "";
  position: absolute;
  top:40%;
  left:-5%;
  width: 110%;
  height: 20%;
  background-color:#9CBDC5;
  transform: rotate(-60deg);
  animation:rotate2 5s steps(7) 0s infinite;
  transition-duration: 300ms;
}
.point h2{
  position: absolute;
  top:0;bottom:0;left:0;right:0;margin:auto;
  height: 12vh;
  font-size: 10vh;
  text-align: center;

  font-family: makinas;
}
@keyframes rotate2 {
  to{
    transform: rotate(-240deg);
  }
}

.outer_point:hover{
  border-color:yellow;
}
.point:hover{
  background-color: yellow;
}
.point:hover::after{
  border-color:yellow;
  z-index: 10;
}
.point:hover>.inner_point::before{
  background-color: yellow
}

.dis,.dis::before{
  border-color:#aaa;
  animation:none;
}
.dis>div{
  background-color: #aaa;
  cursor: default;
}
.dis>div::after{
  opacity: 0;
}
.dis>div>div::before{
	animation: none;
	background-color: #aaa;
}

.dis:hover{
  border-color:#aaa;
}
.dis>.point:hover{
  background-color:#aaa;
}
.dis>.point:hover::after{
  border-color:#aaa;
}
.dis>.point:hover>.inner_point::before{
  background-color: #aaa;
}

.route{
	position: absolute;
  width: 10px;
  border-left: 10px dashed #ddd;
  transform-origin:top;
  z-index: 5;
}

#boards > div{
	display: none;
  position: absolute;
  top:5vh;
  left:5vw;
  width: 90vw;
  height: 90vh;
  background-color:rgba(34,34,34,0) ;
  transform: rotateX(-90deg);
  transform-origin:bottom;
  z-index: 20;
  color: white;
  padding: 30px;
	padding-top:20px;
  font-size: 1.5rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.button{
  position: absolute;
  left:0;
  bottom: 0;
  font-family: makinas;
  font-size:7vmin;
  text-align: center;
  cursor: pointer;
	background-color: #3F88C5;
	margin:16px;
	padding:0 16px;
	overflow: hidden;
}
.button::before{
	content:"Next";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FFBA08;
	transform: translateX(calc( -100% - 10px));
	padding:0 1%;
	transition-duration: 500ms;
	color:#222;
}
.button:hover::before{
	transform: translateX(-10px);
}
=======
@font-face {
	font-family: 'makinas';
	src: url('Makinas5.otf');
}
html,body{
  position: absolute;
  width: 100vw;
  height:100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  -webkit-perspective: 500;
  -webkit-transform-style: preserve-3d;
	--rd:40vh;
}
div{
  position: absolute;
  transition-duration: 300ms;
  margin: 0;
  padding: 0;
}
#main{
	position: absolute;
	width:100%;
	height:100%;
	transition-duration: 2s;
	transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#title>span{
  font-size:9vw;
  color: #ddd;
  transform:translateY(-20vh);
  opacity: 0;
  transition-duration: 300ms;
  font-family: makinas;
	transition-duration: 1s;
}

.outer_point{/*外枠*/
  width: calc(var(--rd) * 1.2 );
  height: calc(var(--rd) * 1.2 );
  border-radius: 50%;
  border:5px solid #9CBDC5;
}
.outer_point::before{/*回転用バー*/
  content: "";
  position: absolute;
  top:25%;
  left:-5%;
  width: 110%;
  height: 50%;
  background-color: #333;
  transform: rotate(40deg);
  animation:rotate 2s ease-in-out 0s infinite;
}
@keyframes rotate {
  to{
    transform: rotate(400deg);
  }
}


.point{
  top:0;bottom:0;left:0;right:0;margin:auto;
  width: var(--rd);
  height: var(--rd);
  border-radius: 50%;
  background-color: #9CBDC5;
  cursor: pointer;
  z-index: 10;
}

.point::before{/*中の黒枠*/
  /*
  content: "";
  position: absolute;
  top:10%;
  left:10%;
  width:80%;
  height:80%;
  border-radius: 50%;
  border: 5px solid #333;
  transition-duration: 300ms;
  z-index: 10;
  */
}
.point::after{/*波紋*/
  content: "";
  position: absolute;
  width:100%;
  height:100%;
  border-radius: 50%;
  border: 5px solid #9CBDC5;
  animation:scale 2s ease 0s infinite;
  transition-duration: 300ms;
  z-index: 9;
}
@keyframes scale {
  to{
    transform: scale(2);
    opacity: 0;
  }
}

.inner_point{/*外枠の内側のほう*/
  top:calc(var(--rd) * 0.125);
  left:calc(var(--rd) * 0.125);
  width: calc(var(--rd) * 0.75 );
  height: calc(var(--rd) * 0.75 );
  border-radius: 50%;
  border:5px solid #333;
}
.inner_point::before{/*回転用バー*/
  content: "";
  position: absolute;
  top:40%;
  left:-5%;
  width: 110%;
  height: 20%;
  background-color:#9CBDC5;
  transform: rotate(-60deg);
  animation:rotate2 5s steps(7) 0s infinite;
  transition-duration: 300ms;
}
.point h2{
  position: absolute;
  top:0;bottom:0;left:0;right:0;margin:auto;
  height: 12vh;
  font-size: 10vh;
  text-align: center;

  font-family: makinas;
}
@keyframes rotate2 {
  to{
    transform: rotate(-240deg);
  }
}

.outer_point:hover{
  border-color:yellow;
}
.point:hover{
  background-color: yellow;
}
.point:hover::after{
  border-color:yellow;
  z-index: 10;
}
.point:hover>.inner_point::before{
  background-color: yellow
}

.dis,.dis::before{
  border-color:#aaa;
  animation:none;
}
.dis>div{
  background-color: #aaa;
  cursor: default;
}
.dis>div::after{
  opacity: 0;
}
.dis>div>div::before{
	animation: none;
	background-color: #aaa;
}

.dis:hover{
  border-color:#aaa;
}
.dis>.point:hover{
  background-color:#aaa;
}
.dis>.point:hover::after{
  border-color:#aaa;
}
.dis>.point:hover>.inner_point::before{
  background-color: #aaa;
}

.route{
	position: absolute;
  width: 10px;
  border-left: 10px dashed #ddd;
  transform-origin:top;
  z-index: 5;
}

#boards > div{
	display: none;
  position: absolute;
  top:5vh;
  left:5vw;
  width: 90vw;
  height: 90vh;
  background-color:rgba(34,34,34,0) ;
  transform: rotateX(-90deg);
  transform-origin:bottom;
  z-index: 20;
  color: white;
  padding: 30px;
	padding-top:20px;
  font-size: 1.5rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.button{
  position: absolute;
  left:0;
  bottom: 0;
  font-family: makinas;
  font-size:7vmin;
  text-align: center;
  cursor: pointer;
	background-color: #3F88C5;
	margin:16px;
	padding:0 16px;
	overflow: hidden;
}
.button::before{
	content:"Next";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FFBA08;
	transform: translateX(calc( -100% - 10px));
	padding:0 1%;
	transition-duration: 500ms;
	color:#222;
}
.button:hover::before{
	transform: translateX(-10px);
}
>>>>>>> d8e072a4c4e8edea0f6070abebc32703d6ff80b9
