body{
  display: flex;
  justify-content: center;
  align-items:center;
  height:100vh;
}
.box{
  width: 300px;
  height: 300px;
  color: white;
  background-color: red;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:1000px) {
  .box{
    background-color: blue;
  }
}
@media (max-width:750px) {
  .box{
    background-color: green;
  }
}
